#editWorkExperiences {
	color: green;
	cursor: pointer;
	display: initial;
	padding: 1px;
}


#changeWorkExperiences {
	display: block;
}


#deleteWorkExperiences {
	color: red; 
	cursor: pointer;
	display: initial;
	padding: 1px;
	
}

.inline-box {
	display: -webkit-box;
}

.th {
	width: 30%;
}

.container-fluid > .row {
	padding: 3px;
}

.container-fluid > .row > input {
    width: 70%;
}

#edit-WorkExperiences> .modal-dialog > .modal-content {
	margin-top: 15%;
}