#editAppliedProjects {
	color: green;
	cursor: pointer;
	display: initial;
	padding: 1px;
}


#changeAppliedProjects {
	display: block;
}


#deleteAppliedProjects {
	display: initial;
	padding: 1px;
	color: red; 
	cursor: pointer;
}

.inline-box {
	display: -webkit-box;
}

.th {
	width: 30%;
}

.container-fluid > .row {
	padding: 3px;
}

.container-fluid > .row > input {
    width: 70%;
}

#edit-appliedprojects > .modal-dialog > .modal-content {
	margin-top: 15%;
}